In [1]:
str_var="""
**********PIAIC********
NAME: Waqas Ahmed
S/O:  Mukhtiar Ahmed Khilji
Caste:Khilji
Address: Sakrand District Nawabshah
"""
print(str_var)

**********PIAIC********
NAME: Waqas Ahmed
S/O:  Mukhtiar Ahmed Khilji
Caste:Khilji
Address: Sakrand District Nawabshah

In [38]:
str_Name="Waqas Ahmed"
str_Name=str_Name.center(30)
str_F_Name="Mukhtair Ahmed khilji"
str_F_Name=str_F_Name.center(34)
str_caste="Khilji Pathan"
str_caste=str_caste.center(30)
str_address="Khilji Kitab ghar sakrand"
str_address=str_address.center(37)
rollNo= '23'

rollNo=rollNo.center(17)
string_print = """
Name: {}
F_Name : {}
Caste: {}
Address: {}
RollNo:{}

"""
#str_center=string_print.center(20)
print(string_print.format(str_Name,str_F_Name,str_caste,str_address,rollNo))

Name:          Waqas Ahmed
F_Name :       Mukhtair Ahmed khilji
Caste:         Khilji Pathan
Address:       Khilji Kitab ghar sakrand
RollNo:        23

In [37]:
# 3 * 3 * 3
a = 3**3
print(a)

27

In [25]:
a = "abv"
a *= 2
print(a)

abvabv

In [31]:
a = 'abc'
b = 'xyz'
c = 27

print(a,b,c)

abc xyz 27

In [33]:
a = 'abc'
b = 'xyz'
c = 27

a + b + str(c)
print(a,b,c)

abc xyz 27

In [45]:
a += " xyz"

print(a)

waqas xyz xyz xyz

In [46]:
text="waqas"
print(text.upper())

WAQAS

In [48]:
text="Waqas Ahmed Khilji"
str_var= text.lower()
print(str_var)

TypeError: lower() takes no arguments (1 given)